body
{
    margin:110px;
    
}
.top{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.x{
    color:white;
    background-color:brown ;
    float:left;
}
.mid{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.bottom{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
p{
align-content: space-around;
padding-right:20px;
}

